.header {
  background-color: #213547;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  position: fixed;
  opacity: 0.9;
  height: 5em;

  .logo {
    height: 4em;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
  }
  h3{
    font-size: x-large;
  }
  button{ 
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
      filter: 1px solid white;
    }
    .shoppingCart {
      height: 4em;
      padding: 0.5em;
    }
  }
}